tasks
data
node_modules
wiki
adapterlist
.idea
.git
.travis.yml
appveyor.yml
test

.eslintrc.json
.gitmodules
installer.sh
.vscode/
doc/
img/
wiki/

# We never add this to npm, so every install gets a fresh dependency tree
package-lock.json
