tasks
data
node_modules
wiki
adapterlist
.idea
.git
.travis.yml
appveyor.yml
test
gulpfile.js

.eslintrc.json
.gitmodules
.vscode/
doc/
img/
wiki/

# Don't include old information about the installer and fixer
fix_installation.sh
installer.sh
CHANGELOG_FIXER_LINUX.md
CHANGELOG_INSTALLER_LINUX.md

# We never add this to npm, so every install gets a fresh dependency tree
package-lock.json
