git:
  submodules: false

language: node_js

include: &all
  sudo: required
  addons:
    apt:
      sources:
      - ubuntu-toolchain-r-test
      packages:
      - g++-4.8

include: &linux
  <<: *all
  os: linux

include: &osx
  <<: *all
  os: osx

# See https://nodejs.org/en/download/releases/ for a table of node and bundled npm versions

matrix:
  include:
    ## These tests should fail:
    #- <<: *linux
    #  node_js: 4 # old Node
    #- <<: *linux
    #  node_js: 6 # old Node
    #- <<: *linux
    #  node_js: 8.11 # old Node, also comes with old NPM
    #- <<: *linux
    #  node_js: 8.12 # correct node, old NPM manually installed
    #  env:
    #    - NPM_VER=5.7.1
    #- <<: *linux
    #  node_js: 10.2 # comes with old NPM
    #- <<: *linux
    #  node_js: 10 # correct node, old NPM manually installed
    #  env:
    #    - NPM_VER=5.7.1
    #- <<: *osx
    #  node_js: 4 # old Node
    #- <<: *osx
    #  node_js: 6 # old Node
    #- <<: *osx
    #  node_js: 8.11 # old Node, also comes with old NPM
    #- <<: *osx
    #  node_js: 8.12 # correct node, old NPM manually installed
    #  env:
    #    - NPM_VER=5.7.1
    #- <<: *osx
    #  node_js: 10.2 # comes with old NPM
    #- <<: *osx
    #  node_js: 10 # correct node, old NPM manually installed
    #  env:
    #    - NPM_VER=5.7.1

    # These tests should succeed
    - <<: *linux
      node_js: 8.12 # Comes with 6.4.1
    - <<: *linux
      node_js: 10 # Comes with npm 6, starting with 10.3
    - <<: *osx
      node_js: 8.12 # Comes with 6.4.1
    - <<: *osx
      node_js: 10 # Comes with npm 6, starting with 10.3


before_install:
  # if we have defined a specific npm version, use that one
  - if [[ "$NPM_VER" != "" ]]; then npm i -g npm@$NPM_VER; fi
  - mkdir -p node_modules/iobroker
  - mv !(node_modules|test) node_modules/iobroker/
  - 'if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then export CC=clang++; export CXX=clang++; export CXXFLAGS=-std=c++11; fi'
  - 'if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then export CXX=g++-4.8; fi'
install:
  - sudo chmod +x test/travis_install.sh
  # make sure the iob_not_installed file can be created
  - sudo chmod 777 .
  - test/travis_install.sh
  - if [ -e iob_not_installed ]; then echo "ioBroker was not installed (this was expected). Skipping next steps..."; fi
before_script:
  # only continue tests if ioBroker was actually installed
  - |
    if [ ! -e iob_not_installed ]
    then
      sudo chmod +x test/travis_prepareTest.sh
      test/travis_prepareTest.sh
    fi
script:
  # only continue tests if ioBroker was actually installed
  - |
    if [ ! -e iob_not_installed ]; then
      # Move the test files to the correct location
      IOB_DIR=$([ -d /opt/iobroker ] && echo "/opt/iobroker" || echo "/usr/local/iobroker")
      mv test $IOB_DIR/test
      # And perform the tests
      cd $IOB_DIR
      node_modules/mocha/bin/mocha --exit
    fi
