version: 'test-{build}'

# Test against this version of Node.js
environment:
  matrix:
    - nodejs_version: "4"
    - nodejs_version: "6"
    - nodejs_version: "8"
    - nodejs_version: "8"
      npm_version: "5.7.1"
    - nodejs_version: "10"
    - nodejs_version: "10"
      npm_version: "5.7.1"


platform:
  - x86
  - x64

clone_folder: c:\projects\%APPVEYOR_PROJECT_NAME%\node_modules\iobroker
# Install scripts. (runs after repo cloning)
install:
  - ps: cd "c:\projects\$env:APPVEYOR_PROJECT_NAME"
  # Move test dir to install root, because it will be deleted
  - ps: Move-Item -Path node_modules\iobroker\test -Destination .
  - ps: .\test\appveyor_install.ps1
  - ps: |
        if ($env:iob_not_installed -eq "true") {
          echo "ioBroker was not installed (this was expected). Skipping next steps..."
          Exit-AppVeyorBuild
        }
# Post-install test scripts.
test_script:
  - ps: cd "c:\projects\$env:APPVEYOR_PROJECT_NAME"
  - ps: npm install request mocha chai --no-optional --save
  - ps: Start-Sleep -s 15
  - ps: tasklist
  - serviceIoBroker stop & exit 0
  - ps: Start-Sleep -s 15
  - serviceIoBroker start & exit 0
  - ps: Start-Sleep -s 60
  - ps: tasklist
  - dir .\
  - dir .\log\
  - type .\log\iobroker*.log & exit 0
  - node node_modules\mocha\bin\mocha --exit

# Don't actually build.
build: off
